.container{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 75px;
    border-color: black;
    border-style: dashed;
    text-align: center;
  
}

img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.card{
    border-style:solid;
    margin-right: 0;
    border-radius: 5%;
    width: 420px;
}

.card p{
    text-align: center;
}

.card img{
    max-width: 150px;
    max-height: 150px;
}